
<div id="st-container" class="st-container">
	
	<nav class="st-menu st-effect-2" id="menu-2">
	  <div class="clearfix">
		  <h2>Myコレクション</h2>
		  <%= link_to new_collection_path do %>
		  	<span class="glyphicon glyphicon-plus-sign plus-icon" title="コレクションを作成しましょう！"></span>
		  <% end %>
		</div>
		
		<ul>
			<% if @collections.size == 0 %>
				<li><%= link_to 'コレクションを作ろう!', new_collection_path %></li>
			<% else %>
					<% @collections.each do |c| %>
					<li>
						<%= link_to c.name, c %>
					</li>
				<% end %>
			<% end %>
		</ul>
		
		<div class="clearfix">
		  <h2>フォロー</h2>
		  <%= link_to '/show_public' do %>
		  	<span class="glyphicon glyphicon-search plus-icon" title="お気に入りのパブリックコレクションを見つけてフォローしよう！"></span>
		  <% end %>
		</div>
		<ul>
			<% @follow_collections.each do |item| %>
				<li><%= link_to item.name, item %></li>
			<% end %>
		</ul>
	</nav>
	
	<div class="st-pusher">
		
		<div class="st-content">
			
			<div class="st-content-inner">
				<!-- Top Navigation -->
        			
				<div class="main">
	        <div id="st-trigger-effects"><button data-effect="st-effect-2" class="open-menu glyphicon glyphicon-option-vertical"></button></div>	
					<%= render 'layouts/flash_messages' %>
          
					<%= render 'layouts/gmap' %>
					
					<%= render 'toppages/point_list' %>
						
				</div><!-- /main -->
				
				<%= render 'layouts/footer' %>
				
			</div><!-- /st-content-inner -->
		</div><!-- /st-content -->
    
	</div><!-- /st-pusher -->

</div><!-- /st-container -->