<h1 class="collection_name">みんなのコレクション</h1>

<% if @public_collections %>
  <div class="container">
    <div class="row">
      
      <% @public_collections.each do |item| %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4">
          <div class="pointlist_box">
            <div class="leftbox">
              <span><%= image_tag '/images/pin_rd.png', size: '15x24'%><%= item.name %></span>
              <div class="photobox">
                写真
              </div>
            </div>
            
            <div class="rightbox">
              <p>登録日：<%= item.created_at.strftime("%Y-%m-%d") %></p>
              <p>ポイント数：<%= item.points.size %></p>
              <p>フォロワー数：<%= item.followers.size %></p>
              <pre class="description"><%= item.description %></pre>
            </div>
            
            <%= link_to '詳細', :controller => 'collections', :action => 'info', :id => item.id %> 
          </div>
        </div>
      <% end %>
      

    </div>
  </div>
<% end %>