<%= render 'layouts/flash_messages' %>
<h1 class="collection_name"><%= @collection.name %></h1>

<div class="gmap_container">
  <div id="map" style="width: 90%; height: 300px; margin-left: auto; margin-right: auto;"></div>
</div>

<div class="formcontainer">
  <div class="container">
    <% if type == :new %>
      <% action = 'create' %>
    <% elsif type == :edit %>
      <% action = 'update' %>
    <% end %>
    
    <%= form_for @point, :url => {:action => action, :collection => @collection.id} do |f| %>
      <div class="row">
        <!-- Description -->
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
          <div class="form-group">
            <%= f.label :name, 'ポイント名' %>
            <%= f.text_field :name, class: 'form-control', placeholder: 'ポイントの名前 (任意)' %>
          </div>
  
          <div class="form-group">
            <%= f.label :lat, '緯度' %>
            <%= f.number_field :lat, id: 'lat-field',class: 'form-control', value: @point.lat, placeholder: '緯度(自動入力)', step: '0.000000000000001' %>
          </div>
  
          <div class="form-group">
            <%= f.label :lng, '経度' %>
            <%= f.number_field :lng, id: 'lng-field', class: 'form-control', value: @point.lng, placeholder: '経度(自動入力)', step: '0.000000000000001' %>
          </div>
          
          <div class="form-group">
            <%= f.label :address, '住所' %>
            <%= f.text_field :address, id: 'addr-field', class: 'form-control', placeholder: '住所(自動入力)' %>
          </div>
          
          <div class="form-group">
            <%= f.label :description, '説明' %>
            <%= f.text_area :description, class: 'form-control', rows:8, placeholder: '場所の詳しい説明やメモなど' %>
          </div>
          
          <%= f.hidden_field :collection_id, value: @collection.id %>
        </div>
        <!-- PhotoBox -->
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
          <div class="form-group">
            <%= f.label :image, 'イメージ（写真を投稿できます。）'%>
          </div>
          
          <div class="photo-form-box">
            <% if @point.image? %>
              <%= image_tag @point.image.thumb.url %>
            <% else %>
              <div class="noimage"><span class="glyphicon glyphicon-picture"></span></div>
            <% end %>
          </div>
          
          <div class="form-group">
            <%= f.file_field :image %>
            <%= f.hidden_field :image_cache %>
          </div>
          
        </div>
      </div>
      
      <div class="point_btns_container">
        <div class="row">
          <% if type == :new %>
            <%= render 'points/save_msg', f: f %>
            <div class="col-xs-2 col-xs-offset-8">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#save_dialog">保存</button>
            </div>
            <div class="col-xs-2">
              <%= link_to '戻る', root_url, class: 'btn btn-default btn-block'%>
            </div>
          <% elsif type == :edit %>
            <%= render 'points/update_msg', f: f %>
            <%= render 'points/delete_msg' %>
            
            <div class="col-xs-2 col-xs-offset-6">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#update_dialog">保存</button>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#delete_dialog">削除</button>
            </div>
            <div class="col-xs-2">
              <%= link_to '戻る', {:controller => 'points', :action => 'show', :collection => @collection.id, :id => @point.id}, class: 'btn btn-default btn-block' %>
              
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAIJfGcO2u5nHVWO-b7O4pAfPrta3U3EHc&callback=initMap" async defer></script>
<script>
  
  function initMap(){
    'use strict';
    
    var target = document.getElementById('map');
    var map;
    var point = <%= Point.to_json_for_gmap(@point).html_safe %>
    var points = <%= Point.to_json_for_gmap(@points).html_safe %>
    var marker;
    var center_pos = point[0].pos;
    var latField = document.getElementById('lat-field');
    var lngField = document.getElementById('lng-field');
    
    <% # points/newのページに直接アクセスした場合 %>
    if (center_pos.lat == null || center_pos.lng == null) {  
      center_pos = {lat: 35.681431, lng: 139.7668504} // 東京駅
      latField.value = center_pos.lat;
      lngField.value = center_pos.lng;
    }
    
    setAddress(new google.maps.LatLng(latField.value, lngField.value) );
    
    map = new google.maps.Map(target, {
      center: center_pos,
      zoom: 13,
      clickableIcons: false,
      fullscreenControl: false,
      streetViewControl: false,
      gestureHandling: "greedy"  // ctrlキーなしでスクロール
    });
    
    if (points != null) {
      points.forEach(function(val){
        var marker = new google.maps.Marker({
          position: val.pos,
          map: map,
          title: val.name,
          icon: {
            url: "<%= root_url %>" + '/images/pin_rd.png',
          	scaledSize: new google.maps.Size(20, 33)
          }
        });
      });
    }
    var marker = new google.maps.Marker({
        position: center_pos,
        map: map,
        title: 'ドラッグで位置を変えられます！',
        icon: {
          url: "<%= root_url %>" + '/images/pin_bl.png',
        	scaledSize: new google.maps.Size(20, 33)
        },
        draggable: true
    });
    
    // マーカードラッグ終了イベント
    google.maps.event.addListener( marker, 'dragend', function(e) {
      latField.value = e.latLng.lat();
      lngField.value = e.latLng.lng();
      setAddress(new google.maps.LatLng(latField.value, lngField.value) );
    });
    
    // 緯度経度テキストボックスの入力が変化したら
    latField.addEventListener( "input", moveMarker ) ;
    lngField.addEventListener( "input", moveMarker ) ;
    
    function moveMarker() {
      marker.setPosition( new google.maps.LatLng(latField.value, lngField.value));
      setAddress(new google.maps.LatLng(latField.value, lngField.value) );
    }
    
    function setAddress(latLng) {
      var geocoder = new google.maps.Geocoder();
      var addrField = document.getElementById('addr-field')
    
      geocoder.geocode({ location: latLng }, 
        function(results, status){
          if (status !== 'OK' || !results[0]) {
            addrField.value = '住所を取得できませんでした。';
          }
          else {
            addrField.value = results[0].formatted_address;
          }
        });  
    }
    
  }
  
</script>
