<h1 class="collection_name">コレクション名</h1>

<div class="gmap_container">
  <div id="map" style="width: 100%; height: 300px;"></div>
</div>

<div class="container formcontainer">
  <%= form_for(@point) do |f| %>
    <div class="row">
      <div class="col-xs-10 col-sm-6">
  
        
          <div class="form-group">
            <%= f.label :name, 'ポイント名' %>
            <%= f.text_field :name, class: 'form-control', placeholder: 'ポイントの名前 (任意)' %>
          </div>
  
          <div class="form-group">
            <%= f.label :lat, '緯度' %>
            <%= f.number_field :lat, id: 'lat-field',class: 'form-control', value: params[:addPointLat] %>
          </div>
  
          <div class="form-group">
            <%= f.label :lng, '経度' %>
            <%= f.number_field :lng, id: 'lng-field', class: 'form-control', value: params[:addPointLng] %>
          </div>
          
          <div class="form-group">
            <%= f.label :description, '説明' %>
            <%= f.text_area :description, class: 'form-control', rows:8, placeholder: '場所の詳しい説明やメモなど' %>
          </div>
      </div>
      <div class="col-xs-10 col-sm-6">
        写真投稿
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-2 col-xs-offset-8">
        <%= f.submit '保存', class: 'btn btn-primary btn-block' %>
      </div>
      <div class="col-xs-2">
        <%= link_to '戻る', dummy_url, class: 'btn btn-warning btn-block'%>
        <% #TODO: dummy修正 %>
      </div>
    </div>
  <% end %>
</div>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAIJfGcO2u5nHVWO-b7O4pAfPrta3U3EHc&callback=initMap" async defer></script>
<script>
  
  function initMap(){
    'use strict';
    
    var target = document.getElementById('map');
    var map;
    var point = <%= Point.to_json_for_gmap(@point).html_safe %>
    var marker;
    var center_pos = point[0].pos;
    var latField = document.getElementById('lat-field');
    var lngField = document.getElementById('lng-field');
    
    if (center_pos.lat == null || center_pos.lng == null) {
      center_pos = {lat: 35.681431, lng: 139.7668504}
      latField.value = center_pos.lat;
      lngField.value = center_pos.lng;
    }
    
    map = new google.maps.Map(target, {
      center: center_pos,
      zoom: 13,
      clickableIcons: false,
      fullscreenControl: false,
      streetViewControl: false,
      gestureHandling: "greedy"  // ctrlキーなしでスクロール
    });
    
    var marker = new google.maps.Marker({
        position: center_pos,
        map: map,
        title: '新しいポイント',
        icon: {
          url: '../images/pin_rd.png',
        	scaledSize: new google.maps.Size(20, 33)
        },
        draggable: true
    });
    
    // マーカードラッグ終了イベント
    google.maps.event.addListener( marker, 'dragend', function(e) {
      latField.value = e.latLng.lat();
      lngField.value = e.latLng.lng();
    });
   
    // 緯度経度テキストボックスの入力が変化したら
    latField.addEventListener( "input", moveMarker ) ;
    lngField.addEventListener( "input", moveMarker ) ;
    
    function moveMarker() {
      marker.setPosition( new google.maps.LatLng(latField.value, lngField.value));
    }
    
    
  }
  
</script>
