<h1 class="collection_name"><%= @collection.name %></h1>

<div class="gmap_container">
  <div id="map" style="width: 100%; height: 300px;"></div>
</div>

<div class="formcontainer">
  <div class="container">
    <div class="row">
      <!-- PhotoBox -->
      <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
        <div class="photo-form-box">写真　未実装</div>
      </div>
      <!-- Description -->
      <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0">
        <div class="point_infomation">
          <table class="table">
            <tr>
              <td class="point_tbllabel">ポイント名</td>
              <td class="text-left"><%= @point.name %></td>
            </tr>
            <tr>
              <td class="point_tbllabel">登録日</td>
              <td class="text-left"><%= @point.created_at.strftime("%Y-%m-%d") %></td>
            </tr>
            <tr>
              <td class="point_tbllabel">登録ユーザ</td>
              <td class="text-left">未実装</td>
            </tr>
            <tr>
              <td class="point_tbllabel">緯度</td>
              <td class="text-left"><%= @point.lat %></td>
            </tr>
            <tr>
              <td class="point_tbllabel">経度</td>
              <td class="text-left"><%= @point.lng %></td>
            </tr>
            <tr>
              <td class="point_tbllabel">住所</td>
              <td class="text-left"><%= @point.address %></td>
            </tr>
          </table>
          <div class="point_container">
            <span class="pointlabel">説明</span>
            <pre class="pointdescription"><%= @point.description %></pre>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-2 col-xs-offset-8">
          <%= link_to '編集', {:controller => 'points', :action => 'edit', :collection => @collection.id, :id => @point.id}, class: 'btn btn-primary btn-block' %>
        </div>
        <div class="col-xs-2">
          <%= link_to '戻る', root_url, class: 'btn btn-default btn-block'%>
        </div>
    </div>
    
  </div>
</div>

<!-- comments -->
<div class="formcontainer">
    コメント一覧
</div>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAIJfGcO2u5nHVWO-b7O4pAfPrta3U3EHc&callback=initMap" async defer></script>
<script>
  
  function initMap(){
    'use strict';
    
    var target = document.getElementById('map');
    var map;
    var point = <%= Point.to_json_for_gmap(@point).html_safe %>;
    var points = <%= Point.to_json_for_gmap(@points).html_safe %>;
    var marker;
    var center_pos = point[0].pos;
    var latField = document.getElementById('lat-field');
    var lngField = document.getElementById('lng-field');
    
    <% # 存在しないPointにアクセスした場合 %>
    if (center_pos.lat == null || center_pos.lng == null) {  
      center_pos = {lat: 35.681431, lng: 139.7668504} // 東京駅
      latField.value = center_pos.lat;
      lngField.value = center_pos.lng;
    }

    map = new google.maps.Map(target, {
      center: center_pos,
      zoom: 13,
      clickableIcons: false,
      fullscreenControl: false,
      streetViewControl: false,
      gestureHandling: "greedy"  // ctrlキーなしでスクロール
    });
    
    points.forEach(function(val){
      var marker = new google.maps.Marker({
        position: val.pos,
        map: map,
        title: val.description,
        icon: {
          url: '../images/pin_rd.png',
        	scaledSize: new google.maps.Size(20, 33)
        }
      });
      
      var infoWindow = new google.maps.InfoWindow({
        content: `<a href="../points/${val.id}" class="btn btn-primary">詳細</a>`
      });
      
      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });
      
    });
    
    var marker = new google.maps.Marker({
        position: center_pos,
        map: map,
        icon: {
          url: '../images/pin_bl.png',
        	scaledSize: new google.maps.Size(20, 33)
        },
    });
  }
  
</script>
