<% if @points %> 
  <div class="container">
    <div class="row">
      <% @points.each do |item| %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4">
          <div class="pointlist_box">
            <div class="leftbox">
              
              <span><%= image_tag '/images/pin_rd.png', size: '15x24'%><%= item.name %></span>
              <p>緯度：<%= sprintf("%.3f", item.lat) %></p>
              <p>経度：<%= sprintf("%.3f", item.lng)  %></p>
              <div class="photobox">
                <% if item.image? %>
                  <%= image_tag item.image.thumb.url %>
                <% else %>
                  <div class="noimage"><span class="glyphicon glyphicon-camera"></span></div>
                <% end %>
              </div>
            </div>
            <div class="rightbox">
              <p>登録日：<%= item.created_at.strftime("%Y-%m-%d") %></p>
              <% if @collection.collection_type == 0 %>
                <% creator = User.find_by(id: item.created_by).name %>
                <% if creator %>
                  <p>登録者：<%= creator %></p>
                <% end %>
              <% end %>
              <p><span class="badge"><%= item.comments.size %> Comments</span></p>
              <p>説明：</p>
              <pre class="description"><%= item.description %></pre>
              
            </div>
            
            <%= link_to '詳細', :controller => 'points', :action => 'show', :collection => @collection.id, :id => item.id %> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>