<div class="help_box">
  <h1>Map It!の操作方法</h1>
  <p>
    Map It!の操作方法についてご紹介します。
  </p>
  
  <h2 id="operation">Map It! 操作方法目次</h2>
  <ol>
    <li><a href="#create_collection">コレクションを作成する</a></li>
    <li><a href="#open_collection">コレクションを開く</a></li>
    <li><a href="#edit_collection">コレクションを編集・削除する</a></li>
    <li><a href="#add_point">コレクションにポイントを追加する</a></li>
    <li><a href="#detail_point">ポイントの詳細を確認する</a></li>
    <li><a href="#comment_point">ポイントにコメントを投稿する</a></li>
    <li><a href="#edit_point">ポイントを編集・削除する</a></li>
    <li><a href="#share_collection">コレクションを共有する</a></li>
    <li><a href="#publish_collection">コレクションを公開する</a></li>
    <li><a href="#explore_collection">Publicコレクションをフォローする</a></li>
  </ol>
  
  <h2 id="create_collection">コレクションを作成する</h2>
  <p>
    コレクションは、地図上の場所（ポイントと呼びます）を登録する際の分類です。
    例えば、好きな場所、思い出の場所、行ってみたい場所など。
    あなたの趣味でよく訪れる場所などを登録しても楽しいかもしれませんね！
  </p>
  
  <p>
    コレクションを作成する方法を説明します。
    まず左側のメニューを開きます。
    下図の画面左側のタグをクリックするとメニューが開きます。
  </p>
  <p><%= image_tag '/images/help/menubtn.png'%></p>
  <p>
    メニューバー内のMyコレクションの横にある<span class="glyphicon glyphicon-plus-sign"></span>ボタンをクリックすることで、
    コレクションを作成画面に移ります。
  </p>
  <p><%= image_tag '/images/help/plusbtn.png'%></p>
  <p>
    コレクションの作成画面では、下記の項目を入力します。  
  </p>
  <ol>
    <li>コレクション名</li>
    <li>説明</li>
    <li>コレクションのタイプ</li>
    <li>コレクションのイメージ</li>
  </ol>
  <p>
    コレクション名には、"好きな場所"、"絶景ポイント"などの名前を入力します。
    説明の入力は、任意ですが入れておくとわかりやすくなります。
  </p>
  <p>
    コレクションのタイプには、PrivateとPublicの二つがあります。
    Privateは、コレクションを作成した本人だけが、見ることができます。
    （将来的には、友人や家族などグループでの共有を実装する予定です）
    Publicを選択すると、すべてのユーザに公開されます。
    詳細は、<a href="#publish_collection">こちら</a>を参照してください。
    
    ちなみに、デフォルトではPrivateが選択されます。
  </p>
  <p>
    コレクションのイメージには、写真やイラストなどを設定できます。
    特に、Publicコレクションの場合、Publicコレクションの検索画面で
    このイメージが表示されるので他のユーザが探しやすくなります。
  </p>
  <p>
    必要項目を入力後、画面下部の保存ボタンをクリックすることで
    コレクションの作成が完了します。
  </p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="open_collection">コレクションを開く</h2>
  <p>
    コレクションを作成すると、左側のメニューのMyコレクションの中に、
    作成したコレクションが表示されるので、
    クリックすることで開くことができます。
  </p>
  <p><%= image_tag '/images/help/plusbtn.png'%></p>
  <p>
    コレクションを開くと、コレクションに登録されている
    ポイントが地図上に表示され、地図の下部にはポイントの一覧が表示されます。
  </p>
  <p><%= image_tag '/images/help/showcollection.png'%></p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="edit_collection">コレクションを編集・削除する</h2>
  <p>
    コレクションの編集・削除するには、目的のコレクションを開き、
    コレクション名の横にある<span class="glyphicon glyphicon-info-sign"></span>ボタンをクリックします。
  </p>
  <p><%= image_tag '/images/help/showcollection.png'%></p>
  
  <p>
    <span class="glyphicon glyphicon-info-sign"></span>ボタンをクリックすると、
    コレクションの詳細情報が表示されます。
    さらに画面下部の"編集"ボタンをクリックすることで編集・削除画面に移動します。
    移動後、変更したい項目を入力後"保存"ボタンで編集を完了することができます。
    "削除"ボタンでコレクションを削除することができます。
    ただし、コレクションを削除すると、コレクションに登録されている
    すべてのポイント、またそのポイントに登録されているすべてのコメントも
    削除されます。
    一旦削除されたデータは元に戻すことはできませんので、ご注意ください。
  </p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="add_point">コレクションにポイントを追加する</h2>
  <p>
    コレクションを作成したら、ポイントを追加しましょう。
    まず、左側のメニューからポイントを追加するコレクションを開きます。
    次に、登録したいポイントを地図上で探します。
    マウスのD&Dで地図を移動したり、ホイールで拡大縮小をします。
    これは、GoogleMapの使い方と同じです。
    目的の場所が見つかったら、その場所をクリックしてください。
    すると、青色のピンとともに"コレクションする"というボタンが表示されます。
    (青色のピンを右クリックするかタッチデバイスの場合は、ロングタップでピンを消すことができます。)
    
  </p>
  <p><%= image_tag '/images/help/addpoint.png'%></p>
  
  <p>
    "コレクションする"というボタンをクリックすることで、下図のポイントの作成画面に移ります。
  </p>
  <p><%= image_tag '/images/help/editpoint1.png'%></p>
  <p>
    ポイントの作成画面の地図上には青いピンが表示されています。
    このピンは、ドラッグすることができ、位置を微調整できます。
    ポイントの登録フォーム（下図）には、ポイント名、
    緯度、経度、住所、説明、イメージの欄があり、必要情報を入力後、
    保存ボタンをクリックすることでポイントを追加することができます。
    なお、緯度、経度、住所の欄は自動入力です。
    その他の項目（ポイント名、説明、イメージ）の入力は任意ですが、
    入力した方が分かりくなります。
    
  </p>
  <p><%= image_tag '/images/help/editpoint2.png'%></p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="detail_point">ポイントの詳細を確認する</h2>
  <p>
    内容を確認したいポイントのマーカーをクリックすると、
    下図のように"詳細"ボタンが表示され、これをクリックするとポイントの詳細ページに移動します。
    また、地図の下に表示されているポイントリストの"詳細"リンクをクリックしても詳細を見ることができます。
  </p>
  <p>
    詳細ページでは、ポイントの写真、ポイント名、登録日、登録ユーザ、緯度、経度、住所、説明を確認することができます。
  </p>
  <p><%= image_tag '/images/help/detailpoint.png' %></p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="comment_point">ポイントにコメントを投稿する</h2>
  <p>
    ポイントには、コメントを投稿することができます。
    コメント投稿フォームは、ポイントの詳細画面の最下部にあります。
    投稿したい内容を記入し、"投稿"ボタンで投稿することができます。
  </p>
  <p><%= image_tag '/images/help/comment.png' %></p>
  <p>
    コレクションの作成者以外に、コレクションのフォロワーも
    ポイントにコメントを投稿することができます。
  </p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="edit_point">ポイントを編集・削除する</h2>
  <p>
    登録されているポイントの情報を編集したり、ポイントを削除したい場合は、
    ポイントの詳細画面に移動し、"編集"ボタンをクリックしてください。
  </p>
  <p><%= image_tag '/images/help/editpoint.png' %></p>
  <p>
    編集画面に移動すると、ポイントの編集を行うことができます。
    これは、ポイントの作成画面と操作方法は同じです。
    また、ポイントを削除したい場合は、"削除"ボタンをクリックすることで削除できます。
  </p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="share_collection">コレクションを共有する</h2>
  
  <p>
    コレクションは、作成した本人だけでなく、
    友人や家族などと共有することができます。
    （この機能は現在制作中です。）
  </p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="publish_collection">コレクションを公開する</h2>
  
  <p>
    コレクションの作成時、または、コレクションの編集画面において、
    コレクションのタイプをPublicにせっていすると
    そのコレクションは公開され、すべてのユーザから閲覧可能になります。
  </p>
  <p><%= image_tag '/images/help/collectiontype.png' %></p>
  
  <p>
    コレクションが公開されると、Publicコレクションとして、
    <%= link_to 'みんなのコレクション', :controller => 'collections', :action => 'show_public' %>
    のページに表示されるようになります。
    このページへは、左メニューの<span class="glyphicon glyphicon-search"></span>
    のボタンをクリックすることで移動できます。
  </p>
  <p><%= image_tag '/images/help/search.png' %></p>
  
  <p>
    コレクションを公開すると、
    他のユーザ（コレクションのフォロワー）にもポイントの追加権限が与えられます。
    そのため、参加者みんなでコレクションを作り上げることができるようになるわけです。
  </p>
  <p>
     例えば、AEDや自動販売機などのコレクションを作成して、
     フォロワーのみんなでポイントを追加すれば、
     きっと生活に役立つ情報源なると思います！
  </p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
  
  <h2 id="explore_collection">Publicコレクションをフォローする</h2>
  
  <p>
    まずは、 <%= link_to 'みんなのコレクション', :controller => 'collections', :action => 'show_public' %>
    のページからお気に入りのPublicコレクションを探します。
  </p>
  <p><%= image_tag '/images/help/public.png' %></p>
  <p>
    気になるコレクションを見つけたら、
    コレクション名のリンク（上図なら"自動販売機"）をクリックすると、
    コレクションの詳細ページに移動します。
  </p>
  <p>
    コレクションの詳細ページの下部に"フォロー"ボタンがあり、
    これをクリックすることで、フォローが完了します。
  </p>
  <p><%= image_tag '/images/help/follow.png' %></p>
  <p>
    コレクションをフォローすると、
    左メニューのフォロー欄に表示されるようになり、
    クリックすることでコレクションの内容を確認することができます。
    また、フォローしているコレクションについては、
    ポイントの追加も行なえるようになります。
    操作方法は、通常のコレクションと同じです。
  </p>
  <p><%= image_tag '/images/help/search.png' %></p>
  
  <div class="toindex"><a href="#operation">目次へ</a></div>
</div>