<h1 class="collection_name">
  <%= @collection.name %>
  <% if !@no_collection %>
    <%= link_to '', "/collection_info/#{@collection.id}", class: "edit_collection_link glyphicon glyphicon glyphicon-info-sign" %>
  <% end %>
</h1>
<div class="gmap_container">
  <div id="map" style="width: 100%; height: 400px;"></div>
</div>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAIJfGcO2u5nHVWO-b7O4pAfPrta3U3EHc&callback=initMap" async defer></script>
<script>
  
  function initMap(){
    'use strict';
    
    var target = document.getElementById('map');
    var map;
    var points = <%= Point.to_json_for_gmap(@points).html_safe %>;
    var marker;
    var center_pos = <%= Point.get_gravity_center(@points).html_safe %>;
    
    if (center_pos.lat == null || center_pos.lng == null) {  
      center_pos = {lat: 35.681431, lng: 139.7668504} // 東京駅
    }
    
    map = new google.maps.Map(target, {
      center: center_pos,
      zoom: 7,
      clickableIcons: false,
      fullscreenControl: false,
      streetViewControl: false
    });
    
<% if !@no_collection %>
    // 登録されている全ポイントのマーカーを作成
    if (points != null) {
      points.forEach(function(val){
        var marker = new google.maps.Marker({
          position: val.pos,
          map: map,
          title: val.description,
          icon: {
            url: "<%= root_url %>" + '/images/pin_rd.png',
          	scaledSize: new google.maps.Size(20, 33)
          }
        });
  
        var infoWindow = new google.maps.InfoWindow({
          content: `<a href="<%= root_url %>points/show/<%= @collection.id %>/${val.id}" class="btn btn-primary">詳細</a>`
        });
        
        marker.addListener('click', function(){
          infoWindow.open(map, marker);
        });
      });
    }
    // 新規のポイント
    map.addListener('click', addMarker);
    
    function addMarker(e) {
      
      var marker = new google.maps.Marker({
        position: e.latLng,
        map: this,
        title: '右クリックorロングタップで消せます!',
        content: e.latLng.toString(),
        animation: google.maps.Animation.DROP,
        icon: {
        		url: "<%= root_url %>" + '/images/pin_bl.png',
        		scaledSize: new google.maps.Size(20, 33)
        	}
      });
      
      var info_content = `
        <form action="/points/new/<%= @collection.id %>" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="addPointLat" id="addPointLat" value="${e.latLng.lat()}">
          <input type="hidden" name="addPointLng" id="addPointLng" value="${e.latLng.lng()}">
          <input type="submit" name="commit" value="コレクションする" class="btn btn-primary" data-disable-with="コレクションする">
        </form>`;

      var infoWindow = new google.maps.InfoWindow({
        content: info_content
      });
      
      infoWindow.open(map, marker);
      
      // 情報ウインドウ表示
      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      })
      // マーカー右クリックでマーカーを削除
      marker.addListener('rightclick', function() {
        this.setMap(null);
      });
      // タッチパネル用ロングタップ検出
      var start, end;
      marker.addListener('mousedown', function(){
        start = new Date().getTime();
      });
      
      marker.addListener('mouseup', function(){
        if (start) {
            end = new Date().getTime();
            if (end - start > 500) {
              this.setMap(null);
            }
        }
      });
    }
    
<% end %>
  }
  
</script>

<!--

   /* map.addListener('click', function(e) {
      marker = new google.maps.Marker({
        position: e.latLng,
        map: map,
        content: e.latLng.toString(),
        animation: google.maps.Animation.DROP,
        icon: {
        		url: 'images/pin_bl.png',
        		scaledSize: new google.maps.Size(20, 33)
        	}
      })
      
      marker.addListener('click', function() {
        this.setMap(null);
      });
      
     // this.panTo(e.latLng)
    });
    */

-->

    