<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Map It !</title>
    
    <%= csrf_meta_tags %>
    
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- Bootstrap JavaScript-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <% if logged_in? %>
      <%= render 'sessions/signout' %>
      
      <%= render 'layouts/sidemenu_layout' %>
      
    <% else %>
      <div class="adjustcontainer">
        <%= render 'sessions/signin' %>
        
        <%= yield :cover %>
      
        <div class="container">
          
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
          
        </div>
        <%= render 'layouts/footer' %>
      </div>
    <% end %>
  </body>
  
 <%= javascript_include_tag 'application' %>

</html>

